# Build artifacts
bin/
obj/
publish/

# Visual Studio files
.vscode/
*.user
*.suo

# Mac system files
.DS_Store

# Windows system files
Thumbs.db

# Rider IDE
.idea/

# Other common
*.log

# Dotnet user secrets (if ever used)
secrets.json

# NuGet packages folder (if using older .NET Core styles)
packages/
